* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    background-image: url('../imgs/hr-bg.jpg');
}

ul {
    list-style: none;
}