:root {
    --theme-color: #45b97c;
    --theme-color2: #7fb80e;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 602px;
    height: 602px;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}

.game-container .square-item {
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
}

.game-container .square-item:nth-child(even) {
    background: var(--theme-color);
}

.game-container .square-item:nth-child(odd) {
    background: var(--theme-color2);
} 

.game-container .lovely-gif {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    transition: all .1s ease-in;
    transform: translateX(240px) translateY(240px);
}

.game-container .monster-gif {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
    transition: all .1s ease-in;
}

.base-m-gif2 {
    transform: translateX(480px) translateY(0px);
}

.base-m-gif3 {
    transform: translateX(0) translateY(480px);
}

.base-m-gif4 {
    transform: translateX(480px) translateY(480px);
}

.nav-menu {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
    border-radius: 8px;
    background: #fff;
}

.nav-menu .pass-count {
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    color: #fff;
    padding: 15px;
    background: var(--theme-color);
}


.nav-menu .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
}

.nav-menu .nav-item:hover {
    color: var(--theme-color);
    transform: scale(1.1);
}

.nav-menu .nav-item .menu-icon {
    width: 25px;
    margin-right: 3px;
}

.nav-menu .nav-select {
    position: relative;
}

.nav-menu .nav-select:hover .select-level {
    display: flex;
}

.nav-menu .nav-select .select-level {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 230px;
    opacity: .9;
    text-align: center;
    line-height: 50px;
    background: #fff;
}

.nav-menu .select-level .level-item {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #fff;
    margin: 8px;
    transition: all .3s ease;
    background: var(--theme-color);
}

.nav-menu .select-level .level-item:hover {
    transform: scale(1.1);
}

.nav-menu  .select-level .level-active::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    content: '';
    width: 17px;
    height: 17px;
    opacity: .5;
    background: #000;
}

.nav-menu .nav-int {
    position: relative;
}

.nav-menu .nav-int:hover .introduce {
    display: block;
}

.nav-menu .nav-int .introduce {
    display: none;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    width: 230px;
    padding: 1em;
    opacity: .9;
    color: #000;
    text-indent: 1em;
    text-align: left;
    line-height: 28px;
    background: #fff;
}
