:root {
    --theme-color: #45b97c;
    --theme-color2: #7fb80e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    background-image: url('../imgs/hr-bg.jpg');
}

ul {
    list-style: none;
}

.pass-count {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    color: rgba(253, 241, 241, 0.911);
    padding: 15px;
    font-size: 20px;
}

.pass-count .no-number {
    margin-right: 10px;
}

 .pass-count .count-time {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 10px;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 602px;
    height: 602px;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}

.game-container .square-item {
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
}

.game-container .square-item:nth-child(even) {
    background: var(--theme-color);
}

.game-container .square-item:nth-child(odd) {
    background: var(--theme-color2);
} 

.game-container .lovely-gif {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    transition: all .1s ease-in;
    transform: translateX(240px) translateY(240px);
}

.game-container .monster-gif {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
    transition: all .1s ease-in;
}

.base-m-gif2 {
    transform: translateX(480px) translateY(0px);
}

.base-m-gif3 {
    transform: translateX(0) translateY(480px);
}

.base-m-gif4 {
    transform: translateX(480px) translateY(480px);
}

.nav-menu {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
    border-radius: 8px;
    background: #fff;
}

.nav-menu .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px;
}

.nav-menu .nav-item:hover {
    color: var(--theme-color);
    transform: scale(1.1);
}

.nav-menu .nav-item .menu-icon {
    width: 25px;
    margin-right: 3px;
}

.nav-menu .nav-select {
    position: relative;
}

.nav-menu .nav-select:hover .select-level {
    display: flex;
}

.nav-menu .nav-select .select-level {
    cursor: default;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    display: none;
    justify-content: center;
    flex-wrap: wrap;
    width: 230px;
    opacity: .9;
    text-align: center;
    line-height: 50px;
    background: #fff;
}

.nav-menu .select-level .level-item {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #fff;
    margin: 8px;
    transition: all .3s ease;
    background: var(--theme-color);
}

.nav-menu .select-level .level-item:hover {
    transform: scale(1.1);
}

.nav-menu  .select-level .level-active::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    content: '';
    width: 17px;
    height: 17px;
    opacity: .8;
    background: #fff;
    border: 2px dashed rgb(193, 207, 193);
}

.nav-menu .nav-int {
    position: relative;
}

.nav-menu .nav-int:hover .introduce {
    display: block;
}

.nav-menu .nav-int .introduce {
    cursor: default;
    display: none;
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    width: 230px;
    padding: 1em;
    opacity: .9;
    color: #000;
    text-indent: 1em;
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    background: #fff;
}

.nav-menu .nav-set {
    position: relative;
}

.nav-menu .nav-set:hover .seting {
    display: block;
    background: #fff;
}

.nav-menu .nav-set .seting {
    cursor: default;
    display: none;
    position: absolute;
    left: 0;
    color: #000;
    text-align: left;
    font-size: 18px;
    transform: translateX(-100%);
}

.nav-menu .nav-set .set-item {
    margin: 12px;
    width: max-content;
}

.nav-menu .nav-set .seting .switch {
    display: inline-block;
    position: relative;
    transition: all .5s ease;
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
    background: var(--theme-color);
}

.nav-menu .nav-set .seting .switch::after {
    position: absolute;
    content: '';
    top: 2px;
    transform: translateX(2px);
    transition: all .5s ease;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
}

.nav-menu .nav-set .seting .set-hand {
    display: flex;
    align-items: center;
}

.nav-menu .nav-set .seting .right-hand {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
    background: var(--theme-color);
}

.nav-menu .nav-set .seting .right-icon {
    width: 25px;
    transition: all .5s ease;
}

.nav-menu .nav-set .volume-item {
    display: flex;
    align-items: center;
}

.nav-menu .nav-set .volume-item .music-width{
    cursor: pointer;
    width: 100px;
    height: 14px;
    margin-right: 20px;
    border: 2px dotted var(--theme-color2);
    overflow: hidden;
}

.nav-menu .nav-set .volume-item .s-long {
    width: 30px;
    height: 10px;
    transition: width .3s ease;
    background: var(--theme-color);
}

.nav-menu .nav-set .volume-item .p-per {
    position: absolute;
    right: 0;
    font-size: 12px;
}