:root {
    --theme-color: #45b97c;
    --theme-color2: #7fb80e;
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 602px;
    height: 602px;
    border: 1px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}

.game-container .square-item {
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
}

.game-container .square-item:nth-child(even) {
    background: var(--theme-color);
}

.game-container .square-item:nth-child(odd) {
    background: var(--theme-color2);
} 

.game-container .lovely-gif {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 70px;
    height: 70px;
    transition: all .1s ease-in;
    transform: translateX(240px) translateY(240px);
}

.game-container .monster-gif {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
    margin-top: 20px;
    width: 80px;
    height: 80px;
    transition: all .1s ease-in;
}

.base-m-gif2 {
    transform: translateX(480px) translateY(0px);
}

.base-m-gif3 {
    transform: translateX(0) translateY(480px);
}

.base-m-gif4 {
    transform: translateX(480px) translateY(480px);
}

.nav-menu {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
    padding: 0 25px;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
    border-radius: 8px;
    background: #fff;
}

.nav-menu .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px 0;
}

.nav-menu .nav-item:hover {
    color: var(--theme-color);
    transform: scale(1.1);
}

.nav-menu .nav-item .menu-icon {
    width: 25px;
    margin-right: 3px;
}

.hover-show-container {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    padding: 10px;
    width: 230px;
    overflow: hidden;
    background: #fff;
}

.hover-show-container .select-level {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    opacity: .8;
    text-align: center;
    line-height: 50px;
}

.hover-show-container .select-level .level-item {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    color: #fff;
    margin: 8px;
    background: var(--theme-color);
}

.hover-show-container .select-level .level-active::before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    content: '';
    width: 15px;
    height: 15px;
    background: #006c54;
}

